{namespace buildbot autoescape="contextual"}

/**
 * Default custom header implementation for Buildbot.
 */
{template .customHeader}
<h1>{msg desc="short name of the application"}{buildbot.SITE_TITLE}{/msg}</h1>
{/template}
